*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.article{
      margin-top: 25vh;
      color: #fff;
      text-align: center;
}
h1{
    user-select: none;
    font-size: 8vh;
    font-family: italic;
}
h2{
    user-select: none;
}

li a {
    border: 1px solid transparent;
    color:#4CAF50;
    text-decoration:none;
    display:block;
    padding: 13px;
    text-transform:uppercase;
}
li a:hover{
    background:bisque;
}
nav{
    font-size: 18px;
}
ul{
    list-style-type: none;
    overflow:inherit;
}
li{
 display:table-row;
}
.open-button{
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
.chat-poppup{
    display: none;
    position:fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.form-container{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-container textarea{
    width: 100%;
    padding: 15PX;
    margin: 5PX 0 22PX 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}
.form-container textarea:focus{
    background-color:#ddd;
    outline: none;
}
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}
.form-container .cancel{
    background-color: red;
}
.form-container .btn:hover,
.open-button:hover{
    opacity: 1;
}
body{
    background-color: rgba(220, 148, 148, 0.822);
  }
 h1{
    color:rgb(116, 218, 116);
 }
 p{
    color:chartreuse;
 }
 .general_block{
    display: flex;
    align-items: center;
    margin-top: 8%;
 }

 .dummy_page{
    height: 400px;
    width:100%;
    background-color: #f0f0f0;
    text-align:left;
    box-sizing: border-box;
    padding: 60px 0px;
 }
 .footer {
    width:100%;
    position:static;
    height:auto;
    background-color:rgb(82, 101, 54);
 }
 .footer .col {
    width:190px;
    height: auto;
    float:left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 0px 0px 0px;
 }
 .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    line-height: 17px;
    padding: 50px 0px 5px 0px;
    color: rgb(169, 200, 58);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
 }
.footer .col ul {
    list-style-type: none;
    margin:0;
    padding: 0;
}
.footer .col ul li{
    color: #f5f5f5;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}
.social ul li {
    display:flow-root;
    padding-left: 0px !important;
}
.footer .col ul li:hover{
    color:#ffffff;
    transition: .1s;
    -webkit-transition: .1s;
}
.clearfix{
    clear: both;
}
@media only screen and (min-width:1280px){
    .contain{
        width:1200px;
        margin: 0px;
    }
}
@media only screen and (max-width:1139px){
    .contain .social{
        width:1200px;
        margin:block;
    }
    .social h1{
        margin:0px;
    }
}
@media only screen and (max-width:950px){
    .footer .col{
        width: 33%;
    }
    .footer .col h1{
       font-size: 24px;
    }
    .footer .col ul li{
        font-size: 13px;
     }
}
@media only screen and (max-width:500px){
    .footer .col{
        width: 50%;
    }
    .footer .col h1{
       font-size: 14px;
    }
    .footer .col ul li{
        font-size: 13px;
     }
}
@media only screen and (max-width:340px){
    .footer .col{
        width: 100%;
    }
}